   <!--      ABOUT PART  START-->
    <div id="ABOUT">
        <div class="container">
            <h1>ABOUT ME</h1>
            <div class="row">
            <div class="col-md-5">
                <div class="about_me wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s">
                    <!--    About left Side -->
                    <h2>HOLA! SOY JOR</h2>
                    <h4>SOBRE MI</h4>
                    <hr>
                    <p>Mi nombre es Jorge Hess. Soy desarrollador web, me dedico 
                    a la creación de sitios web de alta calidad para 
                    tanto individuos o empresas, usando las últimas tecnologías. 
                    Hago foco principalmente en la autogestión para que las aplicaciones puedan 
                    ser manejados y actualizados por el cliente mismo, en una buena visual desde cualquier pantalla
                    y en la implementación de plataformas de pago.
                    
                    </p>
                </div>
            </div>
            <!--    About left Side -->
            <div class="col-md-6">
                <!--    About right Side -->
                  <div class="onee"> <img src="images/jor.jpg" style="height: 30%;"> </div>
         
            </div>
            <!--    About right Side end-->
        </div>
    </div>
    </div>
    <!--      ABOUT PART  end-->
    <!--      SERVICE PART  START-->
    <div id="SERVICE">
        <div class="container">
            <h1>SERVICIOS QUE OFREZCO</h1>
            <div class="service_part text-center">
                <div class="col-md-3">
                    <div class="row">
                        <div class="service_offer wow slideInLeft" data-wow-duration="1s" data-wow-delay="0"> 
                           <i class="fa fa-desktop" aria-hidden="true"></i>
                            <h3>Web Design</h3>
                            <p>Each of my designs begins with a blank canvas which allows your content to guide the layout.</p>
                            <div class="overlay">
                                <div class="overlay_text"> <i class="fa fa-desktop" aria-hidden="true"></i>
                                    <h3>Web Design</h3> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="service_offer wow zoomIn" data-wow-duration="1s" data-wow-delay="0s"> <i class="fa fa-cogs" aria-hidden="true"></i>
                            <h3>Development</h3>
                            <p>Front End Development is building out the visual components of a website. Using HTML, CSS , and Javascript, I build fast, interactive websites.</p>
                            <div class="overlay">
                                <div class="overlay_text"> <i class="fa fa-cogs" aria-hidden="true"></i>
                                    <h3>Development</h3> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="service_offer wow zoomIn" data-wow-duration="1s" data-wow-delay="0"> <i class="fa fa-code" aria-hidden="true"></i>
                            <h3>Clean Code</h3>
                            <p>Clean code is code that is easy to understand and easy to change. ... Easy to understand means the code is easy to read.</p>
                            <div class="overlay">
                                <div class="overlay_text"> <i class="fa fa-code" aria-hidden="true"></i>
                                    <h3>Clean Code</h3> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row">
                        <div class="service_offer wow slideInRight" data-wow-offset="10"  data-wow-iteration="3s"> 
                           <i class="fa fa-camera" aria-hidden="true"></i>
                            <h3>RESPONSIVE DESIGN</h3>
                            <p>Responsive development will help make your website easily accessible across all devices</p>
                            <div class="overlay">
                                <div class="overlay_text"> <i class="fa fa-camera" aria-hidden="true"></i>
                                    <h3>RESPONSIVE DESIGN</h3> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--      service PART  END-->
    <!--      PROTFOLIO PART  START-->
    <div id="PROTFOLIO">
        <section id="portfolio" class="text-center">
            <div class="container">
                <h1>Portfolio</h1>
                <div id="filters" class="button-group">
                    <button class="button is-checked" data-filter="*">Show All</button>
                    <button class="button" data-filter=".metal"> One Page</button>
                    <button class="button" data-filter=".transition">Company</button>
                    <button class="button" data-filter=".alkali, .alkaline-earth">Personal</button>
                    <button class="button" data-filter=":not(.transition)">E-commerce</button>
                    <button class="button" data-filter=".metal:not(.transition)"> Landing Page 5</button>
                      <button class="button" data-filter=".metal:not(.transition)"> So More </button>
                </div>
                <div class="grid">
                    <div class="element-item transition metal wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s" data-category="transition"><img src="images/personal%203.jpg">
                        <div class="isotope-overlay"> <a href="https://marketshopq.herokuapp.com/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>Personal</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                    <div class="element-item post-transition metal " data-category="post-transition"> <img src=images/resturent.jpg>
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>Restaurent Managment</h4></div>
                    </div>
                    <div class="element-item post-transition metal wow slideInRight" data-wow-offset="10"  data-wow-iteration="3s" data-category="post-transition"> <img src="images/company.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>Coprporate</h4> </div>
                    </div>
                    <div class="element-item transition metal wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s" data-category="transition"> <img src="images/one%20page.png">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>One Page</h4></div>
                    </div>
                    <div class="element-item alkali metal " data-category="alkali"> <img src="images/eucation.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <a href="#"><h4>Education</h4></a> </div>
                    </div>
                        <div class="element-item alkali metal " data-category="alkali"> <img src="images/it.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <a href="#"><h4>Technology</h4></a> </div>
                    </div>
                       <div class="element-item transition metal wow slideInLeft" data-wow-duration="1s" data-wow-delay="0s" data-category="transition"><img src="images/personal.jpg">
                        <div class="isotope-overlay"> <a href="https://radwan503.github.io/your-Home-BootStrap/" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>Personal</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                    <div class="element-item metalloid " data-category="metalloid"> <img src="images/e-commerce.jpg">
                        <div class="isotope-overlay"> <a href="#"><i class="fa fa-link" aria-hidden="true"></i></a> <h4>E-Commerce</h4></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--      PROTFOLIO PART End -->
    <div id="COMMENT">
        <!--      COMMENT PART START -->
        <h1>What Client Say's</h1>
        <div class="Customer_comment">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="carousel slide" id="quote-carousel">
                            <!-- Bottom Carousel Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#quote-carousel" data-slide-to="0" class="active caresou920imag">
                                    <img class="img-responsive " src="images/21192365_1981082282177738_6099309001771666564_n.jpg" alt=""></li>
                                <li data-target="#quote-carousel" data-slide-to="1"><img class="img-responsive" src="images/21616267_1948986348650477_6583626074749065515_n.jpg" alt=""> </li>
                                <li data-target="#quote-carousel" data-slide-to="2"><img class="img-responsive" src="images/pexels-photo-213117.jpeg" alt=""> </li>
                            </ol>
                            <!-- Carousel Slides / Quotes -->
                            <div class="carousel-inner text-center">
                                <!-- Quote 1 -->
                                <div class="item active">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>Radwan is one of the best freelancers I've found on upwork. He's honest, friendly, and a great communicator. I would definitely recommend you hire him for your next project.</p> <small>Shadin </small> </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 2 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>Was great working with Radwan. Did a great job with the work and was always very accessible for questions. Highly recommend.</p> <small>Adnan Ahmed</small> </div>
                                        </div>
                                    </blockquote>
                                </div>
                                <!-- Quote 3 -->
                                <div class="item">
                                    <blockquote>
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                <p>Very easy to work with.</p> <small>Shovon Jr famous</small> </div>
                                        </div>
                                    </blockquote>
                                </div>
                            </div>
                            <!-- Carousel Buttons Next/Prev --><a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a> <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--      COMMENT PART End -->
    <div id="EDUCATION">
        <div class="container">
            <div class="page-header text-center">
                <h1 id="timeline">Education</h1> </div>
            <ul class="timeline">
                <li>
                    <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
                    <div class="timeline-panel wow zoomInUp" data-wow-duration="2s" data-wow-delay="0s">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Daffodil International University</h4> </div>
                        <div class="timeline-body">
                            <p>B.sc in computer science & Engineering</p>
                            <p>Year:2015-2019</p>
                            <p></p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel wow zoomInUp" data-wow-duration="2s" data-wow-delay="0s">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Higher Secondary Education</h4> </div>
                        <div class="timeline-body">
                            <p>Ibna Taimiya School & college</p>
                            <p>Year:2013-2014</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
                    <div class="timeline-panel wow zoomInUp" data-wow-duration="2s" data-wow-delay="0s">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">Secondary Education</h4> </div>
                        <div class="timeline-body">
                            <p>Lakshmanpur N.H high School</p>
                            <p>Year:2008-2012</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="CONTACT">
        <!--      CONTACT PART  START-->
        <h1>Contact</h1>
        <div class="contact_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- MAP PART-->
                        <div class="google_map">
                          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3648.360663550441!2d90.31952411436103!3d23.876826289853174!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c23e9a9dbe81%3A0x62af421e71601a5f!2sDaffodil+International+University+-+Permanent+Campus+Library!5e0!3m2!1sen!2sbd!4v1508072693266" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- MAP PART END-->
                </div>
            </div>
        </div>
    </div>